[project]
	description = Data and maps for Area 29 trail maps in Idaho.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ry Jones (ryjones)
[access "refs/for/refs/*"]
	read = group user/Ry Jones (ryjones)
	push = group user/Ry Jones (ryjones)
	label-Code-Review = -2..+2 group user/Ry Jones (ryjones)
	label-Verified = -1..+1 group user/Ry Jones (ryjones)
	rebase = group user/Ry Jones (ryjones)
	removeReviewer = group user/Ry Jones (ryjones)
	submit = group user/Ry Jones (ryjones)
[access "refs/heads/*"]
	read = group user/Ry Jones (ryjones)
	create = group user/Ry Jones (ryjones)
	push = +force group user/Ry Jones (ryjones)
	pushMerge = group user/Ry Jones (ryjones)
[access "refs/tags/*"]
	push = group user/Ry Jones (ryjones)
	push = +force group user/Ry Jones (ryjones)
